<!DOCTYPE html>
<html id="modal">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Fica aqui por questões de escopo -->
    <script src="~/js/JavaScript.js"></script>
    <link rel="stylesheet" href="~/css/modal.css">
    <script src="~/js/modal.js"></script>
</head>
<body>
    @if (ViewBag.JaEscolheu == false)
    {
        <div id="backLog" class="containerLista" style="display: none;">
            <p class="titulo"></p>
            <div id="backLogList"></div>
            <button onclick="limparLista();">Limpar</button>
            <button onclick="selectedList('backLog');">Proximo</button>
        </div>
        <div id="toDo" class="containerLista" style="display: none;">
            <p class="titulo"></p>
            <div id="toDoList"></div>
            <button onclick="voltarLista('toDo','backLog');">Voltar</button>
            <button onclick="selectedList('toDo');">Proximo</button>
        </div>

        <div id="done" class="containerLista" style="display: none;">
            <p class="titulo"></p>
            <div id="doneList"></div>
            <button onclick="voltarLista('done','toDo');">Voltar</button>
            <button onclick="selectedList('done');">Enviar</button>
        </div>
        <script type="text/javascript">
            popularCampos('backLog');
        </script>
    }
    else
    {
        <div class="containerLista" style="color:red">
            <button onclick="AtualizarPlanilha();">Atualizar</button>
        </div>
        <div>
            <button onclick="RetornarPlanilha();"</button>
        </div>
    }


</body>
</html>
