<!DOCTYPE html>
<html id="modal">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <link rel="stylesheet" href="~/css/modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Fica aqui por questões de escopo -->
    <script src="~/js/JavaScript.js"></script>
    <script src="~/js/modal.js"></script>
</head>
<body>
    <div id="divModalAtiv">
        sadsadsadsadsa
    </div>
    <script type="text/javascript">
		popularCampos();

    </script>
</body>
</html>