<!DOCTYPE html>
<html>
<head>
	<script src="https://p.trellocdn.com/power-up.min.js"></script>
	<link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
