<!DOCTYPE html>
<html>
<head>
	<script src="https://p.trellocdn.com/power-up.min.js"></script>
	<script src="~/js/JavaScript.js"></script>
	<script src="~/js/modal.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
