<!DOCTYPE html>
<html>
<head>
	<script src="https://p.trellocdn.com/power-up.min.js"></script>
	<script src="~/js/JavaScript.js"></script>
	<script src="~/js/modal.js"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
